<div class="w-64 h-screen sticky top-0 bg-blue-700 text-white p-6 flex flex-col overflow-y-auto">

  <div class="flex flex-col items-center mb-8">

    <img
      src="/ppda.png"
      alt="PPDA"
      class="w-36 rounded-xl"
    />

    <p class="text-sm text-blue-200 text-center mt-3">
      Plataforma escolar institucional
    </p>

  </div>

  <nav class="flex flex-col gap-3 flex-1">

    <a routerLink="/dashboard" class="hover:bg-blue-600 p-3 rounded-lg transition">
      Dashboard
    </a>

    @if (usuario?.rol === 'ADMINISTRATIVO') {

      <a routerLink="/usuarios" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Usuarios
      </a>

      <a routerLink="/docentes" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Docentes
      </a>

      <a routerLink="/grupos" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Grupos
      </a>

      <a routerLink="/estudiantes" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Estudiantes
      </a>

      <a routerLink="/acudientes" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Acudientes
      </a>

      <a routerLink="/analitica" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Analítica
      </a>
    }

   @if (usuario?.rol === 'DOCENTE') {

  <a routerLink="/grupos" class="hover:bg-blue-600 p-3 rounded-lg transition">
    Mis grupos
  </a>

  <a routerLink="/estudiantes" class="hover:bg-blue-600 p-3 rounded-lg transition">
    Estudiantes
  </a>

  <a routerLink="/asistencias" class="hover:bg-blue-600 p-3 rounded-lg transition">
    Asistencias
  </a>

  <a routerLink="/observaciones" class="hover:bg-blue-600 p-3 rounded-lg transition">
    Observaciones
  </a>

  <a routerLink="/reportes" class="hover:bg-blue-600 p-3 rounded-lg transition">
    Reportes
  </a>
}

    @if (usuario?.rol === 'ESTUDIANTE') {

      <a routerLink="/mi-perfil" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Mi perfil
      </a>

      <a routerLink="/mi-asistencia" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Mi asistencia
      </a>

      <a routerLink="/mis-observaciones" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Mis observaciones
      </a>

      <a routerLink="/mis-reportes" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Mis reportes
      </a>
    }

    @if (usuario?.rol === 'ACUDIENTE') {

      <a routerLink="/mis-acudidos" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Mis acudidos
      </a>

      <a routerLink="/asistencias" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Asistencia
      </a>

      <a routerLink="/observaciones" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Observaciones
      </a>

      <a routerLink="/reportes" class="hover:bg-blue-600 p-3 rounded-lg transition">
        Reportes
      </a>
    }

  </nav>

  <button
    (click)="cerrarSesion()"
    class="bg-slate-700 hover:bg-slate-800 p-3 rounded-lg transition w-full mt-auto"
  >
    Cerrar sesión
  </button>

</div>