<div class="flex min-h-screen bg-gray-100">

  <div [class.hidden]="!mostrarSidebar">

    <app-sidebar />

  </div>

  <div class="flex-1">

    <app-header
      (toggleSidebarEvent)="toggleSidebar()"
    />

    <div class="p-10">

      <div class="flex justify-between items-center mb-8">

        <h1 class="text-4xl font-bold text-blue-600">
          Docentes
        </h1>

        <button
        (click)="mostrarModal = true"
        class="bg-blue-700 hover:bg-blue-800 text-white px-6 py-3 rounded-xl transition"
        >
        + Nuevo docente
        </button>

      </div>

      <div class="bg-white rounded-2xl shadow overflow-hidden">

        <table class="w-full">

          <thead class="bg-blue-600 text-white">

            <tr>

              <th class="p-4 text-left">
                Nombre
              </th>

              <th class="p-4 text-left">
                Correo
              </th>

              <th class="p-4 text-left">
                Documento
              </th>

              <th class="p-4 text-left">
                Teléfono
              </th>

              <th class="p-4 text-left">
                Acciones
              </th>

            </tr>

          </thead>

          <tbody>

          </tbody>

        </table>

      </div>

    </div>

  </div>

</div>

@if (mostrarModal) {

<div class="fixed inset-0 bg-black/40 flex justify-center items-center z-50">

  <div class="bg-white w-full max-w-2xl rounded-3xl p-10">

    <div class="flex justify-between items-center mb-8">

      <h2 class="text-3xl font-bold text-blue-600">
        Nuevo docente
      </h2>

      <button
        (click)="mostrarModal = false"
        class="text-4xl text-gray-500"
      >
        ×
      </button>

    </div>

    <div class="space-y-6">

      <div>

        <label class="block mb-2 font-semibold">
          Usuario docente
        </label>

        <select
          [(ngModel)]="usuarioId"
          class="w-full border p-4 rounded-xl"
        >

          <option
            *ngFor="let usuario of usuariosDocentes"
            [value]="usuario.id"
          >
            {{ usuario.nombre }}
          </option>

        </select>

      </div>

      <div>

        <label class="block mb-2 font-semibold">
          Documento
        </label>

        <input
          [(ngModel)]="documento"
          type="text"
          class="w-full border p-4 rounded-xl"
        />

      </div>

      <div>

        <label class="block mb-2 font-semibold">
          Teléfono
        </label>

        <input
          [(ngModel)]="telefono"
          type="text"
          class="w-full border p-4 rounded-xl"
        />

      </div>

            <button
        (click)="crearDocente()"
        class="w-full bg-blue-700 hover:bg-blue-800 text-white p-4 rounded-xl"
        >
        Crear docente
        </button>

    </div>

  </div>

</div>

}