<div class="flex min-h-screen bg-gray-100">

  <div [class.hidden]="!mostrarSidebar">

    <app-sidebar />

  </div>

  <div class="flex-1">

    <app-header
      (toggleSidebarEvent)="toggleSidebar()"
    />

    <div class="p-10">

      <div class="flex justify-between items-center mb-8">

        <h1 class="text-4xl font-bold text-blue-600">
          Estudiantes
        </h1>

        <button
          class="bg-blue-700 hover:bg-blue-800 text-white px-6 py-3 rounded-xl transition"
          (click)="abrirModalEstudiante()"
        >
          + Nuevo estudiante
        </button>


      </div>

      <div class="bg-white rounded-2xl shadow p-5 mb-8">

  <p class="text-sm font-semibold text-gray-500 mb-3 uppercase tracking-wide">
    Filtrar
  </p>

<div class="grid grid-cols-12 gap-4 items-center">

  <input
    [(ngModel)]="filtroTextoEstudiante"
    (input)="aplicarFiltrosEstudiantes()"
    type="text"
    placeholder="Nombre o documento"
    class="col-span-4 border p-3 rounded-xl"
  />

  <select
    [(ngModel)]="filtroGradoEstudiante"
    (change)="aplicarFiltrosEstudiantes()"
    class="col-span-3 border p-3 rounded-xl"
  >

    <option value="TODOS">
      Todos los grados
    </option>

    <option
      *ngFor="let gradoOpcion of grados"
      [value]="gradoOpcion"
    >
      {{ gradoOpcion }}
    </option>

  </select>

  <select
    [(ngModel)]="filtroGrupoEstudiante"
    (change)="aplicarFiltrosEstudiantes()"
    class="col-span-3 border p-3 rounded-xl"
  >

    <option value="TODOS">
      Todos los grupos
    </option>

    <option
      *ngFor="let grupo of grupos"
      [value]="grupo.id"
    >
      {{ grupo.nombre }}
    </option>

  </select>

  <button
    (click)="limpiarFiltrosEstudiantes()"
    class="col-span-2 text-blue-600 underline text-sm hover:text-blue-800"
  >
    Limpiar filtros
  </button>

</div>

</div>
      
<div class="space-y-6">

  <!-- TITULOS -->

<div class="grid grid-cols-4 px-6 text-blue-700 font-bold text-lg">

  <div>Nombre</div>

  <div>Documento</div>

  <div>Grupo</div>

  <div class="text-right">Acciones</div>

</div>

  <!-- LISTA -->

  <div
  *ngFor="let estudiante of estudiantesFiltrados"
  class="bg-white rounded-3xl shadow-md hover:shadow-xl transition p-6"
>



 <div class="grid grid-cols-4 items-center gap-6">

    <!-- NOMBRE -->

    <div>

        <h2 class="text-2xl font-bold text-gray-800">
          {{
            usuariosEstudiantes.find(
              usuario => usuario.id === estudiante.usuarioId
            )?.nombre
          }}
        </h2>

    </div>

    <div class="text-gray-600 text-lg">
      {{ estudiante.documento }}
    </div>

    <!-- GRUPO -->

    <div>

      <span
        class="bg-gray-100 text-gray-700 px-5 py-3 rounded-2xl text-lg font-semibold"
      >

        {{
          grupos.find(
            grupo =>
              grupo.id === estudiante.grupoId
          )?.nombre || 'Sin grupo'
        }}

      </span>

    </div>

    <!-- ACCIONES -->

    <div class="flex justify-end gap-3">

      <button
        (click)="abrirPerfil(estudiante)"
        class="bg-blue-100 hover:bg-blue-200 text-blue-700 px-5 py-3 rounded-2xl transition font-semibold"
      >
        Ver perfil
      </button>

      @if (usuario?.rol === 'ADMINISTRATIVO') {

        <button
          (click)="editarEstudiante(estudiante)"
          class="bg-gray-100 hover:bg-gray-200 text-gray-700 px-5 py-3 rounded-2xl transition font-semibold"
        >
          Editar
        </button>

      }

    </div>

  </div>

</div>

@if (estudiantesFiltrados.length === 0) {

  <div class="bg-gray-50 border border-gray-200 rounded-2xl p-10 text-center mt-6">

    <p class="text-lg font-semibold text-gray-600">
      No se encontraron estudiantes
    </p>

    <p class="text-sm text-gray-500 mt-2">
      No existen estudiantes que coincidan con los filtros seleccionados.
    </p>

    <button
      (click)="limpiarFiltrosEstudiantes()"
      class="mt-4 bg-blue-600 text-white px-4 py-2 rounded-lg"
    >
      Limpiar filtros
    </button>

  </div>

}

</div>

@if (mostrarModal) {

<div class="fixed inset-0 bg-black/40 flex justify-center items-center z-50">

  <div class="bg-white w-full max-w-2xl rounded-3xl p-10">

    <div class="flex justify-between items-center mb-8">

      <h2 class="text-3xl font-bold text-blue-600">
        {{ modoEdicion ? 'Editar estudiante' : 'Nuevo estudiante' }}
      </h2>

      <button
        (click)="cerrarModalEstudiante()"
        class="text-4xl text-gray-500"
      >
        ×
      </button>

    </div>

<div class="grid grid-cols-2 gap-6">

  <div>

    <label class="block mb-2 font-semibold">
      Usuario estudiante
    </label>

    <div class="relative">

      @if (modoEdicion) {

  <input
    type="text"
    [value]="nombreUsuarioEditando"
    disabled
    class="w-full p-4 border border-gray-300 rounded-2xl bg-gray-100 shadow-md text-gray-700"
  />

} @else {

      <select
        [(ngModel)]="usuarioId"
        class="w-full appearance-none p-4 border border-gray-300 rounded-2xl bg-white shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700"
      >

        <option [ngValue]="null">
          Selecciona usuario
        </option>

        <option
          *ngFor="let usuario of usuariosEstudiantes"
          [value]="usuario.id"
        >
          {{ usuario.nombre }}
        </option>

      </select>

}



    </div>

          @if (erroresEstudiante.usuarioId) {

  <p class="text-red-600 text-sm mt-2">
    {{ erroresEstudiante.usuarioId }}
  </p>

}

  </div>

  <div>

    <label class="block mb-2 font-semibold">
      Documento
    </label>

   <input
  [(ngModel)]="documento"
  type="text"
  (keypress)="soloNumeros($event)"
  placeholder="Ingresa solo números"
  class="w-full border p-4 rounded-xl"
/>
@if (erroresEstudiante.documento) {

  <p class="text-red-600 text-sm mt-2">
    {{ erroresEstudiante.documento }}
  </p>

}
  </div>



  <div class="col-span-2">

    <label class="block mb-2 font-semibold">
      Grupo
    </label>

    <div class="relative">

      <select
        [(ngModel)]="grupoId"
        class="w-full appearance-none p-4 border border-gray-300 rounded-2xl bg-white shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700"
      >

        <option [ngValue]="null">
          Selecciona grupo
        </option>

        <option
          *ngFor="let grupo of grupos"
          [value]="grupo.id"
        >
          {{ grupo.nombre }}
        </option>

      </select>

    </div>

    @if (erroresEstudiante.grupoId) {

  <p class="text-red-600 text-sm mt-2">
    {{ erroresEstudiante.grupoId }}
  </p>

}

  </div>

  <button
    (click)="modoEdicion ? actualizarEstudiante() : crearEstudiante()"
    class="col-span-2 w-full bg-blue-700 hover:bg-blue-800 text-white p-4 rounded-2xl transition shadow-lg"
  >
    {{ modoEdicion ? 'Actualizar estudiante' : 'Crear estudiante' }}
  </button>

</div>
  </div>

</div>

}

@if (mostrarPerfil) {

<div class="fixed inset-0 bg-black/40 flex justify-center items-center z-50">

  <div class="bg-white w-full max-w-5xl rounded-3xl p-10 shadow-2xl max-h-[90vh] overflow-y-auto">

    <div class="flex justify-between items-center mb-8">

      <div>

        <h2 class="text-4xl font-bold text-blue-700">

          {{
            usuariosEstudiantes.find(
              usuario =>
                usuario.id === estudianteSeleccionado.usuarioId
            )?.nombre
          }}

        </h2>

        <p class="text-gray-500 mt-2">
          Perfil del estudiante
        </p>

      </div>

      <button
        (click)="mostrarPerfil = false"
        class="text-4xl text-gray-400 hover:text-gray-600 transition"
      >
        ×
      </button>

    </div>

    <div class="flex gap-3 mb-8 flex-wrap">

      <button
        (click)="seccionPerfilEstudiante = 'datos'"
        [class]="seccionPerfilEstudiante === 'datos'
          ? 'bg-blue-700 text-white px-5 py-3 rounded-2xl font-semibold'
          : 'bg-blue-100 text-blue-700 px-5 py-3 rounded-2xl font-semibold'"
      >
        Datos generales
      </button>

      <button
        (click)="seccionPerfilEstudiante = 'acudientes'"
        [class]="seccionPerfilEstudiante === 'acudientes'
          ? 'bg-blue-700 text-white px-5 py-3 rounded-2xl font-semibold'
          : 'bg-blue-100 text-blue-700 px-5 py-3 rounded-2xl font-semibold'"
      >
        Acudientes
      </button>

      <button
        (click)="seccionPerfilEstudiante = 'observaciones'"
        [class]="seccionPerfilEstudiante === 'observaciones'
          ? 'bg-blue-700 text-white px-5 py-3 rounded-2xl font-semibold'
          : 'bg-blue-100 text-blue-700 px-5 py-3 rounded-2xl font-semibold'"
      >
        Observaciones
      </button>

      <button
        (click)="seccionPerfilEstudiante = 'asistencias'"
        [class]="seccionPerfilEstudiante === 'asistencias'
          ? 'bg-blue-700 text-white px-5 py-3 rounded-2xl font-semibold'
          : 'bg-blue-100 text-blue-700 px-5 py-3 rounded-2xl font-semibold'"
      >
        Asistencias
      </button>

    </div>

    @if (seccionPerfilEstudiante === 'datos') {

      <div class="grid grid-cols-2 gap-6">

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Estado
          </p>

@if (estudianteSeleccionado?.usuario?.activo) {

  <p class="text-lg font-semibold text-green-600">
    Activo
  </p>

} @else {

  <p class="text-lg font-semibold text-red-600">
    Inactivo
  </p>

}

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Documento
          </p>

          <p class="text-lg font-semibold">
            {{ estudianteSeleccionado.documento }}
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Grupo
          </p>

          <p class="text-lg font-semibold">

            {{
              grupos.find(
                grupo =>
                  grupo.id === estudianteSeleccionado.grupoId
              )?.nombre || 'Sin grupo'
            }}

          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Discapacidad
          </p>

          <p class="text-lg font-semibold text-gray-700">
            {{ estudianteSeleccionado.discapacidad || 'No registrada' }}
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Edad
          </p>

          <p class="text-lg font-semibold text-gray-700">
            Pendiente
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Fecha de nacimiento
          </p>

          <p class="text-lg font-semibold text-gray-700">
            {{ estudianteSeleccionado.fechaNacimiento || 'Pendiente' }}
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Lugar de nacimiento
          </p>

          <p class="text-lg font-semibold text-gray-700">
            {{ estudianteSeleccionado.lugarNacimiento || 'Pendiente' }}
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Fecha ingreso institución
          </p>

          <p class="text-lg font-semibold text-gray-700">
            Pendiente
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Dirección
          </p>

          <p class="text-lg font-semibold text-gray-700">
            Pendiente
          </p>

        </div>

        <div class="bg-gray-50 rounded-2xl p-5">

          <p class="text-gray-500 text-sm mb-1">
            Barrio
          </p>

          <p class="text-lg font-semibold text-gray-700">
            Pendiente
          </p>

        </div>

      </div>

    }

 @if (seccionPerfilEstudiante === 'acudientes') {

  <div class="bg-gray-50 rounded-2xl p-8">

    <h3 class="text-2xl font-bold text-gray-800 mb-6">
      Acudientes
    </h3>

    @if (acudientesEstudiante.length > 0) {

      <div class="space-y-4">

        @for (acudiente of acudientesEstudiante; track acudiente.id) {

          <div class="bg-white rounded-2xl p-5 border">

            <p class="text-lg font-bold text-gray-800">
              {{ acudiente.nombre }}
            </p>

            <p class="text-gray-500">
              Parentesco:
              {{
                acudiente.estudiantes?.find(
                  relacion =>
                    relacion.estudianteId === estudianteSeleccionado.id
                )?.parentesco || 'No registrado'
              }}
            </p>

            <p class="text-gray-500">
              {{ acudiente.correo }}
            </p>

            <p class="text-gray-500">
              Teléfono: {{ acudiente.telefono }}
            </p>

          </div>

        }

      </div>

    } @else {

      <p class="text-gray-500 text-center">
        Este estudiante no tiene acudientes asociados.
      </p>

    }

  </div>

}

@if (seccionPerfilEstudiante === 'observaciones') {

  <div class="bg-gray-50 rounded-2xl p-8">

    <h3 class="text-2xl font-bold text-gray-800 mb-6">
      Observaciones
    </h3>

    @if (observacionesEstudiante.length > 0) {

      <div class="space-y-4">

        @for (observacion of observacionesEstudiante; track observacion.id) {

          <div class="bg-white border rounded-2xl p-5">

            <p class="font-bold text-gray-800 mb-2">
              {{ observacion.tipo }}
            </p>

            <p class="text-gray-600 mb-3">
              {{ observacion.descripcion }}
            </p>

            <p class="text-sm text-gray-400">
              {{ observacion.creadoEn | date:'dd/MM/yyyy HH:mm' }}
            </p>

          </div>

        }

      </div>

    } @else {

      <p class="text-center text-gray-500">
        No hay observaciones registradas para este estudiante.
      </p>

    }

  </div>

}

@if (seccionPerfilEstudiante === 'asistencias') {

  <div class="bg-gray-50 rounded-2xl p-8">

    <h3 class="text-2xl font-bold text-gray-800 mb-6">
      Asistencias
    </h3>

    @if (asistenciasEstudiante.length > 0) {

      <div class="space-y-4">

        @for (asistencia of asistenciasEstudiante; track asistencia.id) {

          <div class="bg-white rounded-2xl p-5 border flex justify-between items-center">

            <div>
              <p class="font-semibold text-gray-800">
                {{ asistencia.fecha | date:'dd/MM/yyyy HH:mm' }}
              </p>

              <p class="text-gray-500">
                Registro de asistencia
              </p>
            </div>

            <span
              class="px-4 py-2 rounded-full font-semibold"
              [ngClass]="{
                'bg-green-100 text-green-700': asistencia.estado === 'PRESENTE',
                'bg-yellow-100 text-yellow-700': asistencia.estado === 'TARDE',
                'bg-red-100 text-red-700': asistencia.estado === 'AUSENTE'
              }"
            >
              {{ asistencia.estado }}
            </span>

          </div>

        }

      </div>

    } @else {

      <p class="text-gray-500 text-center">
        No hay asistencias registradas para este estudiante.
      </p>

    }

  </div>

}

  </div>

</div>

}
